/* Primary Selectors */

body {
	background-color: black;
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: large;
}

table {
	width: 1500px;
	border-collapse: collapse;
	table-layout: fixed;
}

td {
	vertical-align: top;
	padding: 5px;
	word-wrap: break-word;
}

/* IDs and Classes */

#Logo {
	text-align: center;
	width: 10%;
	display: block;
	margin: auto;
}

.header {
	text-align: center;
	color: white;
	background-color: lighgray;
}

.label_col {
	text-align: right;
}

.input_col {
	text-align: left;
}

.feedback_col {
	text-align: center;
	vertical-align: middle;
	color: LightGray;
	font-size: small;
}

.Button {
	margin: auto;
	text-align: center;
	width: 50px;
	color: black;
}

.buttonBG {
	background-color: LightGray;
	border-radius: 20px;
	padding: 5px;
}

